* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(14,12,31);
    background: linear-gradient(90deg, rgba(14,12,31,1) 21%, rgba(38,33,90,1) 64%, rgba(51,40,153,1) 100%);
    color: #68e0cc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 30%;
    height: 80vh;
    margin: auto;
    background-color: #0e0c1f;
    border: 3px solid #3f43bc;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    text-align: center;
    animation-name: okvir;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

form div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

input {
    width: 65%;
    height: 65px;
    margin: auto;
    background-color: #0e0c1f;
    color: #68e0cc;
    border: 3px solid #3f43bc;
    border-radius: 100px;
    text-align: center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

input:focus {
    filter: drop-shadow(0px 0px 20px #3f43bc);
    outline: none;
}

a {
    color: #68e0cc;
    text-decoration: none;
    padding: 2%;
    width: 45%;
    margin: 0 auto;
}

a:last-child {
    width: 25%;
}

a:hover {
    border-bottom: 2px solid #3f43bc;
}

[type= 'submit'] {
    width: 30%;
    filter: drop-shadow(0 0 10px #3f43bc);
    cursor: pointer;
    margin: 0 auto;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

[type = 'submit']:hover {
    color: #3f43bc;
    filter: drop-shadow(0px 0px 10px #68e0cc);
}

@keyframes okvir {
    0% {
        filter: drop-shadow(0 0 0px #68e0cc);
    }

    50% {
        filter: drop-shadow(0 0 40px #68e0cc);
    }

    100% {
        filter: drop-shadow(0 0 0px #68e0cc);
    }
}