* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(14,12,31);
    background: linear-gradient(90deg, rgba(14,12,31,1) 23%, rgba(38,33,90,1) 81%, rgba(79,67,188,1) 100%);
    color: #68e0cc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 40%;
    margin: auto;
    background-color: rgb(0, 0, 59);
    border-radius: 3rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

a {
    text-decoration: none;
    color: #68e0cc;
}