* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(14,12,31);
    background: linear-gradient(90deg, rgba(14,12,31,1) 21%, rgba(38,33,90,1) 64%, rgba(51,40,153,1) 100%);
    color: #68e0cc;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 60%;
    height: 90vh;
    margin: auto;
    background-color: #0e0c1f;
    border: 3px solid #3f43bc;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 5%;
    animation-name: okvir;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes okvir {
    0% {
        filter: drop-shadow(0 0 0px #68e0cc);
    }

    50% {
        filter: drop-shadow(0 0 40px #68e0cc);
    }

    100% {
        filter: drop-shadow(0 0 0px #68e0cc);
    }
}

main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

main section {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    text-align: center;
}

form div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 1.3rem;
}

input {
    height: 50px;
    background-color: #0e0c1f;
    color: #68e0cc;
    border: 3px solid #3f43bc;
    border-radius: 100px;
    text-align: center;
    font-size: 1.3rem;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

::placeholder {
    color: #68e0cc;
    opacity: 0.5;
}

input[type='date']::-webkit-calendar-picker-indicator {
    position: relative;
    right: 70px;
    cursor: pointer;
    background: #68e0cc;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

input[type='date']::-webkit-calendar-picker-indicator:hover {
    background: #4f43bc;
}

input:focus {
    filter: drop-shadow(0px 0px 20px #3f43bc);
    outline: none;
}

[type= 'submit'] {
    width: 25%;
    filter: drop-shadow(0 0 10px #3f43bc);
    cursor: pointer;
    margin: 0 auto;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

[type = 'submit']:hover {
    color: #3f43bc;
    filter: drop-shadow(0px 0px 10px #68e0cc);
}