* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 40%;
    margin: auto;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

legend {
    background-color: white;
    border: 1px solid black;
    margin-left: 2rem;
}

fieldset {
    background-color: white;
    border: 1px solid black;
}

#prvi div, #treci div {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 40%;
}

.gender {
    width: 15%;
}

#drugi {
    margin: 2% 0;
}

#drugi div {
    width: 90%;
    margin: auto;
}

.browser {
    padding: 1%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#data {
    width: 20%;
}