* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 2%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 30%;
}

header a {
    color: #333;
    text-decoration: none;
}

#banner {
    margin: 2% 0;
}

.banner {
    border-bottom: 5px solid red;
    width: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 5% 0;
}

main img {
    height: 300px;
    width: 400px;
}

main section {
    display: flex;
    flex-direction: column;
}

.paragraf {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

footer {
    background-color: #3b3b3b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
}

footer p {
    margin: 2%;
    width: 100%;
}

footer section {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

#sekcija {
    display: flex;
    flex-direction: column;
}