* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@font-face {
    font-family: mojFont;
    src: url(./fontovi/Muthiara\ demo\ version.otf);
}

body {
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    height: 60vh;
    background-image: url(./slike/office.jpg);
    background-size: cover;
}

#header {
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
}

#nav p {
    font-family: mojFont;
    color: gold;
    font-size: 1.5rem;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}
#header h2 {
    font-family: 'Lucida Sans', sans-serif, Times, serif;
    font-size: 2rem;
}

#header h1 {
    font-size: 4rem;
}

#link {
    background-color: gold;
    width: 13%;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    padding: 0.8%;
    border-radius: 5px;
}

#main {
    margin-top: 5%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 0.5rem;
}

#main p {
    color: grey;
}

#main div {
    margin-top: 2.5%;
    width: 90%;
    display: flex;
    column-gap: 5%;
}

#main div section {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main div section img{
    width: 150px;
    height: 100px;
}

.container {
    height: 120vh;
    background-color: rgb(240, 240, 240);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "naslov naslov naslov"
      "prvi drugi treci"
      "cetvrti peti sesti";
  }
  
  .naslov {
      margin-top: 5%;
      grid-area: naslov;
    }
  
  .prvi { grid-area: prvi; }
  
  .drugi { grid-area: drugi; }
  
  .treci { grid-area: treci; }
  
  .cetvrti { grid-area: cetvrti; }
  
  .peti { grid-area: peti; }
  
  .sesti { grid-area: sesti; }
  
.container div img {
    height: 350px;
    width: 370px;
}
