* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
}

h1 {
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 2%;
}

#div1 {
    position: relative;
    height: 100vh;
    z-index: 1;
    background-color: #222222;
}

#mario {
    width: 300px;
    position: absolute;
    bottom: 50px;
    right: 500px;
    z-index: 1;
}

#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#box {
    width: 100px;
    z-index: 2;
    opacity: 1;
    animation: jump 0.5s linear infinite alternate;
}

#coin {
    width: 70px;
    z-index: 1;
    position: relative;
    left: 85px;
    bottom: 90px;
    animation: coin 1s linear infinite forwards;
}

@keyframes jump {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes coin {
    0% {
        transform: translateY(0px) rotateY(0deg);
        opacity: 1;
    }

    50% {
        transform: translateY(-100px) rotateY(180deg);
        opacity: 0;
    }

    100% {
        transform: translateY(-100px) rotateY(360deg);
        opacity: 0;
    }
}