* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mojFont;
    src: url("./fontovi/Hello\ Valentina.ttf");
}

header {
    margin: 1.5% 0;
    display: flex;
    justify-content: space-around;
}

nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

header h1 {
    font-family: mojFont;
    font-size: 3rem;
}

main {
    height: 70vh;
}

p {
    line-height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode';
}

#naslovnaSlika {
    background-image: url("./slike/@karolnienartowicz-Bieszczady-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 85%, 0% 0%, 100% 0%, 100% 85%, 50% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 90vh;
    margin-bottom: 5%;
}

#naslovnaSlika h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    width: 50%;
}

#naslovnaSlika p {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
}

main section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}

main section img {
    height: 450px;
    width: 400px;
    box-shadow: 0px 10px 13px -7px #000000, -7px 12px 20px 1px #00BFFF;
}

#drugiDeo {
    width: 30%;
    height: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

section a, #sekcija a, #sekcija3 a {
    text-align: center;
    color: white;
    background-color: #f9cebd;
    padding: 2%;
    border-radius: 30px;
    width: 25%;
    font-size: 1rem;
}

#sekcija a {
    width: 15%;
}

#naslov h1 {
    font-size: 4rem;
    color: #f9cebd;
}

#naslov {
    height: 90px;
}

.position {
    position: relative;
    top: -40px;
    right: -200px;
    font-family: mojFont;
    font-size: 2.5rem;
    color: #625772;
}

#sekcija {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}

#naslov2 h1 {
    color: #f9cebd;
    font-size: 5rem;
}

.position2 {
    position: relative;
    top: -50px;
    text-align: center;
    font-family: mojFont;
    font-size: 3.5rem;
    color: #625772;
}

#naslov2 {
    height: 130px;
}

#naslovnaSlika2 {
    background-image: url("./slike/landscapebest_1-1500x1000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 85%, 0% 0%, 100% 0%, 100% 85%, 50% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 90vh;
    margin-bottom: 5%;
}

#naslovnaSlika2 h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    width: 50%;
}

#naslovnaSlika2 p {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
}

#sekcija2 {
    display: flex;
    width: 70%;
    margin: auto;
    column-gap: 5%;
    margin-bottom: 5%;
}

#sekcija2 img {
    height: 100px;
    width: 100px;
}

.triDiva {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sekcija2 div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}

#sekcija2 a {
    color: #f0885f;
    font-size: 1rem;
}

#sekcija2 h2 {
    color: #f9cebd;
}

#sekcija2 p {
    font-style: italic;
}

#sekcija3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

#sekcija3 img {
    height: 450px;
    width: 400px;
    box-shadow: 7px 8px 15px 8px #6D6D6D;
}

#naslovnaSlika3 {
    background-image: url("./slike/night-mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 85%, 0% 0%, 100% 0%, 100% 85%, 50% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 90vh;
    margin-bottom: 5%;
}

#naslovnaSlika3 h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    width: 50%;
}

#naslovnaSlika3 p {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
}

#sekcija4 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    margin-bottom: 5%;
}

#sekcija5 {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    column-gap: 5%;
    margin-bottom: 5%;
}

#sekcija5 h2 {
    color: #625772;
    font-size: normal;
}

#sekcija5 p {
    font-style: italic;
}

#sekcija5 div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}

#sekcija6 {
    background-color: #625772;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 50% 25%);
}

#sekcija6 div {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 3%;
    padding-top: 10%;
    border-bottom: 5px solid white;
}

#sekcija6 a {
    color: white;
    font-weight: normal;
    font-size: 1rem;
}

#sekcija6 img {
    height: 50px;
    width: 50px;
}

#sekcija6 p {
    text-align: center;
    margin-top: 2%;
    padding-bottom: 5%;
    color: white;
}

footer {
    background-color: #333333;
    clear: both;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

footer p {
    color: white;
    padding: 0 0.5%;
}

footer a {
    color: #f9cebd;
    text-decoration: underline;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode';
}

@media only screen and (max-width: 1740px) {
    #drugiDeo a {
        width: 35%;
    }

    #sekcija a {
        width: 30%;
    }
}

@media only screen and (max-width: 1300px) {
    nav {
        width: 70%;
    }

    #sekcija2 {
        width: 90%;
    }

    #sekcija5 {
        width: 90%;
    }

    #naslovnaSlika p {
        width: 70%;
    }

    #naslovnaSlika2 p {
        width: 70%;
    }

    #naslovnaSlika3 p {
        width: 70%;
    }
}

@media only screen and (max-width: 1175px) {
    #drugiDeo a {
        width: 45%;
    }

    #drugiDeo p {
        width: 130%;
    }

    #sekcija a {
        width: 40%;
    }
}

@media only screen and (max-width: 1025px) {
    nav a {
        font-size: 1rem;
    }

    header h1 {
        font-size: 2rem;
    }

    #naslovnaSlika, #naslovnaSlika2, #naslovnaSlika3 {
        height: 60vh;
    }

    #naslovnaSlika h1 {
        font-size: 3rem;
    }

    #naslovnaSlika2 h1 {
        font-size: 3rem;
    }

    #naslovnaSlika3 h1 {
        font-size: 3rem;
    }

    #drugiDeo h1 {
        font-size: 3rem;
    }

    #drugiDeo .position {
        font-size: 2rem;
        left: 110px;
    }

    #drugiDeo p {
        font-size: 0.9rem;
    }

    #drugiDeo a {
        font-size: 0.8rem;
        width: 45%;
    }

    #sekcija h1 {
        font-size: 3rem;
    }

    #sekcija p {
        font-size: 0.9rem;
    }

    #sekcija a {
        font-size: 0.8rem;
        width: 30%;
    }

     .position2 {
        font-size: 2rem;
        top: -30px;
    }

    #naslov2 {
        height: 50px;
    }

    #sekcija2 p {
        font-size: 0.9rem;
    }

    #sekcija4 h1 {
        font-size: 3rem;
    }

    #sekcija5 h2 {
        font-size: 1rem;
    }

    #sekcija5 p {
        font-size: 0.9rem;
    }

    #sekcija6 a, #sekcija6 p {
        font-size: 0.9rem;
    }

    #sekcija6 img {
        height: 35px;
        width: 35px;
    }

    #sekcija6 div {
        padding-top: 15%;
    }

    footer a, footer p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 770px) {
    nav {
        width: 65%;
    }

    #naslovnaSlika {
        height: 40vh;
    }

    #naslovnaSlika2 {
        height: 40vh;
    }

    #naslovnaSlika3 {
        height: 40vh;
    }

    #naslovnaSlika h1 {
        font-size: 2rem;
    }

    #naslovnaSlika2 h1 {
        font-size: 2rem;
    }

    #naslovnaSlika3 h1 {
        font-size: 2rem;
    }

    #naslovnaSlika p {
        font-size: 0.7rem;
    }

    #naslovnaSlika2 p {
        font-size: 0.7rem;
    }

    #naslovnaSlika3 p {
        font-size: 0.7rem;
    }
    
    #naslov {
        height: 15px;
    }

    #naslov h1, #naslov2 h1 {
        font-size: 2rem;
    }

    #drugiDeo .position {
        font-size: 1.5rem;
        top: -30px;
        left: 50px;
    }

    #drugiDeo {
        row-gap: 1.5rem;
    }

    #drugiDeo p {
        width: 110%;
    }

    #drugiDeo a, #drugiDeo p, #sekcija a, #sekcija p, #sekcija2 a, #sekcija2 p, #sekcija5 p, #sekcija6 p, #sekcija6 a, footer p, footer a {
        font-size: 0.7rem;
    }

    #sekcija2 img {
        height: 35px;
        width: 35px;
    }

    #sekcija5 h2 {
        font-size: 0.8rem;
    }

    .position2 {
        top: -20px;
        font-size: 1.5rem;
    }

    #sekcija2 div, #sekcija5 div {
        row-gap: 1rem;
    }

    #sekcija2 div h2 {
        font-size: 0.8rem;
    }

    #divSlika img {
        height: 375px;
        width: 275px;
    }
}