* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mojFont;
    src: url("./fontovi/Hello\ Valentina.ttf");
}

header {
    margin: 1.5% 0;
    display: flex;
    justify-content: space-around;
}

nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

header h1 {
    font-family: mojFont;
    font-size: 3rem;
}

main {
    height: 70vh;
}

p {
    line-height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode';
}

#naslovnaSlika {
    background-image: url("./slike/@karolnienartowicz-Bieszczady-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 85%, 0% 0%, 100% 0%, 100% 85%, 50% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 90vh;
    margin-bottom: 5%;
}

#naslovnaSlika h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    width: 50%;
}

#naslovnaSlika p {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
}

main section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}

main section img {
    height: 450px;
    width: 400px;
}

#drugiDeo {
    width: 30%;
    height: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

section a, #sekcija a, #sekcija3 a {
    text-align: center;
    color: white;
    background-color: #f9cebd;
    padding: 2%;
    border-radius: 30px;
    width: 25%;
    font-size: 1rem;
}

#sekcija a {
    width: 15%;
}

#naslov h1 {
    font-size: 4rem;
    color: #f9cebd;
}

#naslov {
    height: 90px;
}

.position {
    position: relative;
    top: -40px;
    right: -200px;
    font-family: mojFont;
    font-size: 2.5rem;
    color: #625772;
}

#sekcija {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}

#naslov2 h1 {
    color: #f9cebd;
    font-size: 5rem;
}

.position2 {
    position: relative;
    top: -50px;
    text-align: center;
    font-family: mojFont;
    font-size: 3.5rem;
    color: #625772;
}

#naslov2 {
    height: 130px;
}

#naslovnaSlika2 {
    background-image: url("./slike/landscapebest_1-1500x1000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 85%, 0% 0%, 100% 0%, 100% 85%, 50% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 90vh;
    margin-bottom: 5%;
}

#naslovnaSlika2 h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    width: 50%;
}

#naslovnaSlika2 p {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
}

#sekcija2 {
    display: flex;
    width: 70%;
    margin: auto;
    column-gap: 5%;
    margin-bottom: 5%;
}

#sekcija2 img {
    height: 100px;
    width: 100px;
}

.triDiva {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sekcija2 div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}

#sekcija2 a {
    color: #f0885f;
    font-size: 1rem;
}

#sekcija2 h2 {
    color: #f9cebd;
}

#sekcija2 p {
    font-style: italic;
}

#sekcija3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

#sekcija3 img {
    height: 450px;
    width: 400px;
}

#naslovnaSlika3 {
    background-image: url("./slike/night-mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 85%, 0% 0%, 100% 0%, 100% 85%, 50% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 90vh;
    margin-bottom: 5%;
}

#naslovnaSlika3 h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    width: 50%;
}

#naslovnaSlika3 p {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
}

#sekcija4 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    margin-bottom: 5%;
}

#sekcija5 {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    column-gap: 5%;
    margin-bottom: 5%;
}

#sekcija5 h2 {
    color: #625772;
    font-size: normal;
}

#sekcija5 p {
    font-style: italic;
}

#sekcija5 div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}

#sekcija6 {
    background-color: #625772;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 25%);
}

#sekcija6 div {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 3%;
    border-bottom: 5px solid white;
}

#sekcija6 a {
    color: white;
    font-weight: normal;
    font-size: 1rem;
}

#sekcija6 img {
    height: 100px;
    width: 100px;
}

#sekcija6 p {
    text-align: center;
    margin-top: 2%;
    padding-bottom: 5%;
    color: white;
}

footer {
    background-color: #333333;
    clear: both;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

footer p {
    color: white;
    padding: 0 0.5%;
}

footer a {
    color: #f9cebd;
    text-decoration: underline;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode';
}